<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.climb.user.dao.TestDao">

    <resultMap type="com.example.climb.user.entity.Test" id="TestMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="shareSelect" resultMap="TestMap">
        select * from test lock in share mode
    </select>
    <update id="updateAll">
        UPDATE test SET NAME=CONCAT(NAME,'00000')
    </update>
</mapper>